.wrapper {
    display: flex;
    background-color: #f3eaea;
    justify-content: center;
    background: url('../../../assets/images/anhnen2.jpg') no-repeat center center fixed;
    background-size: cover;
}
.main {
    width: 1500px;
    margin: auto;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.content {
    flex: 1;
}
