.wrapper {
    display: flex;
    background-color: #f3eaea;
    justify-content: center;
}
.main {
    width: 1200px;
    margin: auto;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.content {
    flex: 1;
}
