.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    // justify-content: center;
    background-color: #efefef;
    background: url('../../../assets/images/anhnen2.jpg') no-repeat center center fixed;
    background-size: cover;
}
.container {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.content {
    flex: 1;
}
