.wrapper {
    width: 1200px;
    box-sizing: border-box;
    padding: 30px;
    border: 1px brown solid;
}
h2 {
    // border: 1px solid #c93b3b;
    font-weight: 800;
    line-height: 4rem;
}
.main__form {
    box-sizing: border-box;
}
.form-group {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}
.label__item {
    min-width: 180px;
}
.form-control {
    font-size: 1.6rem;
    min-height: 50px;
    flex: 1;
}
.input__text {
    height: 50px;
}
.form-control--des {
    min-height: 200px;
    background-color: #fff;
}
.image-selection {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bottom_form {
    width: 100%;
    height: 50px;
    text-align: center;
}
.btn {
    width: 130px;
    height: 40px;
    margin-right: 35px;
    padding: 0px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #fff;
    &:hover {
        background-color: rgb(104, 209, 209);
    }
}
.btn-primary {
    background-color: rgb(119, 173, 235);
}
.btn-warning {
    background-color: burlywood;
}
